/* Apply to the row or column */

.coolgradient {
    background-color: #165F58;
    border-radius: 25px !important;
    padding: 30px;
    margin: 40px auto;
    position: relative;
    overflow: visible !important;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coolgradient::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    border: 3px solid transparent;
    background: linear-gradient(185deg, rgba(21, 227, 152, 1), rgba(21, 227, 152, 0.3)) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    z-index: 0;
}

#row-fX5O-fhqD4, #row-ZnkJi1lRn5, #row-h-en3QwcZk {
    -webkit-box-shadow: 0px 35px 67px -37px rgba(21, 227, 152, 1);
    -moz-box-shadow: 0px 35px 67px -37px rgba(21, 227, 152, 1);
    box-shadow: 0px 35px 67px -37px rgba(21, 227, 152, 0.55);
}



/* This cam also make the gradient effect */
#image-ccyHIWShZa {
    filter: drop-shadow(0px 10px 10px rgba(21, 227, 152, 0.5));
}


/* Fade COLOR or GRADIENT from Top to bottom */
#row-SUVthbcvdwT {
    background: linear-gradient(185deg, rgba(124, 141, 0, 0.8),rgba(254, 119, 2, 0.3),  rgba(250, 247, 240, 0.3)) border-box !important;
}

/* Background Gradient Color to the right */
#section-uINKgvSNOr:hover, #section-OtWDKxZe_P:hover, #section-fo5At9_d-F:hover {
    background-color: (60deg, #00765e 49%, #258a00 90%);
    background-image: linear-gradient(60deg, #00765e 49%, #258a00 150%);
}


/* Dapat naa ang top, left, right og bottom para mogana  */
#section-FUtc4chzFE {
    position: relative;
}

#section-FUtc4chzFE::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    filter: blur(80px);
    background: (90deg, black 49%, black 90%);
    background: radial-gradient(circle, rgba(161,0,224,1) 0%, rgba(154,0,214,1) 15%, rgba(57,0,79,1) 77%, rgba(57,0,79,1) 90%, rgba(57,0,79,1) 95%, rgba(48,0,66,1) 100%);
}